body {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.linklist, .designBanner {
  background-image: url("../the-flatiron-building.png");
  background-repeat: no-repeat;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
ul {
  list-style-type:none;
  font-size: 18px;
  color: white;
  line-height: 1.8;
}
#foot {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
.designBanner {
  color: white;
}
